[Unit]
Description=abrechnomat_bot
After=network.target

[Service]
Type=notify

Environment=MIX_ENV=prod
EnvironmentFile=%h/.config/abrechnomat_bot

WorkingDirectory=%h/.local/share/abrechnomat_bot
ExecStart=%h/.local/share/abrechnomat_bot/bin/abrechnomat_bot start

WatchdogSec=1min

Restart=on-failure

[Install]
WantedBy=default.target
